$grid-row-cell-background-color : $dark-bg !dynamic;
$grid-row-cell-alt-background-color: $dark-bg3 !dynamic;
$grid-row-cell-border-width: 0 !dynamic;
$grid-row-cell-selected-border-width: 0 !dynamic;
$grid-row-cell-focus-border-width: 0 !dynamic;
$grid-row-cell-color : $front-color !dynamic;
$grid-row-cell-over-background-color : $highlight-color2 !dynamic;
$grid-row-cell-over-color : $front-color !dynamic;
$grid-row-cell-selected-background-color : $highlight-color !dynamic;
$grid-row-cell-selected-color : $front-color !dynamic;
$grid-row-cell-focus-color : $front-color !dynamic;
$grid-header-background-color: $dark-bg !dynamic;
$grid-header-over-background-color: $dark-bg3 !dynamic;
$grid-header-border-color: transparent !dynamic;